body {
    margin: 0;
}
li {
    max-width: 100px;
    display: inline;
    float: left;
}
a {
    text-align: center;
}

.navItems {
    background-color: gray;
    max-width: 200px;
}
.navbarRow {
    margin: 0 30% 0 30%;
}
.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#mainLogo {
    width: 200px;
    height: auto;
}